@model SocialPlatform.Models.Post

@{
	ViewBag.Title = "Edit";
}


@using (Html.BeginForm(actionName: "Edit", controllerName: "Posts"))
{
	@Html.HttpMethodOverride(HttpVerbs.Put)
	<br />
	@*@Html.HiddenFor(m => m.ID)*@

	@Html.Label("title", "Titlu Articol")
	<br />
	@Html.EditorFor(m => m.title)
	@Html.ValidationMessage("title", null, new { @class = "text-danger" })
	<br />
	<br />
	@Html.Label("text", "Continut Articol")
	<br />
	@Html.EditorFor(m => m.text, new { htmlAttributes = new { @class = "form-control" } })
	@Html.ValidationMessage("text", null, new { @class = "text-danger" })
	<br />
	<br />
	<button class="btn btn-sm btn-success" type="submit">Modifica articol</button>
}