@model SocialPlatform.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2>Editare Articol</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Posts"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <div style="color:crimson">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>

    @Html.HiddenFor(m => m.PostId)
    @Html.HiddenFor(m => m.WallId)

    <div class="form-group">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.TextBoxFor(m => m.Title, new { @class = "mdl-textfield__input" })
            @Html.LabelFor(m => m.Title, new { @class = "mdl-textfield__label" })
        </div>
    </div>

    <div class="form-group">
        <div class="mdl-textfield mdl-js-textfield">
            @Html.TextAreaFor(m => m.Content, new { @class = "mdl-textfield__input", rows = "3", cols = "100" })
            @Html.LabelFor(m => m.Content, new { @class = "mdl-textfield__label" })
        </div>
    </div>

    <br />
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Modifica articol</button>
}