@model SocialPlatform.Models.Post

@using Microsoft.AspNet.Identity
@{
	ViewBag.Title = "Show";
}

<h2>Show  <a class="btn btn-primary" href="/Posts">Inapoi la News Feed</a></h2>

<div class="panel panel-default">

	@Html.Partial("ShowPost", Model)

	<div class="panel-footer">
		@if (Model.User.Id == User.Identity.GetUserId())
		{
			<a class="btn btn-sm btn-success" href="/Posts/Edit/@Model.PostId">Editaza</a>
			<div style="display: inline-block; float : left">
				<form method="post" action="/Posts/Delete/@Model.PostId">
					@Html.HttpMethodOverride(HttpVerbs.Delete)
					<button class="btn btn-sm btn-danger" type="submit">Sterge</button>
				</form>
			</div>
		}
	</div>
</div>

@foreach (var comm in Model.Comments)
{
	<div style="background-color:beige">
		<h3>Comentariu:</h3>
		<p>@comm.Content</p>
		@if(comm.UserId == User.Identity.GetUserId())
		{
		<a href="/Comments/Edit/@comm.CommentId" class="btn btn-default">Editeaza</a>
		<div style="display: inline-block; float : left">
			<form method="post" action="/Comments/Delete/@comm.CommentId">
				@Html.HttpMethodOverride(HttpVerbs.Delete)
				<button class="btn btn-danger">Sterge</button>
			</form>
		</div>
		}
	</div>
	<hr />
}

			<hr />

			<form method="post" action="/Comments/New/@Model.PostId">
				<label>Adauga un Comentariu</label>
				<br />
				<textarea class="form-control" name="Content"></textarea>
				@Html.ValidationMessage("Content", "", new { @class = "text-danger" })
				<br />
				<button class="btn btn-success " type="submit">Adauga comentariu</button>
			</form>
