@using SocialPlatform.Models

@model IEnumerable<ApplicationUser>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>@TempData["message"]</h3>

<a class="btn btn-sm btn-success" href="/Users/FriendRequest">Send Friend Request</a>
<a class="btn btn-sm btn-success" href="/Posts/New">Create A Post</a>
<a class="btn btn-sm btn-success" href="/Posts/Index">View All Posts</a>
<br />

	@foreach (ApplicationUser user in Model)
	{
		<p>Nume: @user.firstName @user.lastName</p>
		<p>ID: @user.Id</p>
		<h4>Friends</h4>
		<ul>
			@foreach (ApplicationUser friend in user.friends)
			{
				<li>@friend.firstName @friend.lastName  --  @friend.Id</li>
			}
		</ul>
		<h4>Sent requests</h4>
		<ul>
			@foreach (ApplicationUser friend in user.sentFriendRequests)
			{
				<li>@friend.firstName @friend.lastName  --  @friend.Id</li>
			}
		</ul>
		<h4>Received Requests</h4>
		<ul>
			@foreach (ApplicationUser friend in user.receivedFriendRequests)
			{
				<li>@friend.firstName @friend.lastName  --  @friend.Id</li>
			}
		</ul>
		<hr />

	}

	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.firstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EmailConfirmed)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PasswordHash)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SecurityStamp)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TwoFactorEnabled)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LockoutEndDateUtc)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LockoutEnabled)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AccessFailedCount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.firstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EmailConfirmed)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PasswordHash)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SecurityStamp)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PhoneNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TwoFactorEnabled)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LockoutEnabled)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AccessFailedCount)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Details", "Details", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
			</tr>
		}

	</table>
