@using SocialPlatform.Models

@model ApplicationUser

@{
	ViewBag.Title = "Sent Friend Requests";
}

<h2>Sent Friend Requests</h2>

<h3>@TempData["message"]</h3>

<a class="btn btn-sm btn-success" href="/Users/Index">Index</a>
<a class="btn btn-sm btn-success" href="/Users/ReceivedFriendRequests">Received Friend Requests</a>
<a class="btn btn-sm btn-success" href="/Users/Friends">Friends</a>

<br />
<br />


@foreach (ApplicationUser user in Model.sentFriendRequests)
{
	<h3>ID</h3>
	<p>@user.Id</p>
	<h3>Email</h3>
	<p>@user.Email</p>
	<h3>Name</h3>
	<p>@user.firstName @user.lastName</p>

	<form method="post" action="/Users/CancelFriendRequest/@user.Id">
		@Html.HttpMethodOverride(HttpVerbs.Put)
		<button class="btn btn-sm btn-danger" type="submit">Cancel Request</button>
	</form>
	<hr />
}