@model SocialPlatform.Models.Comment
@using SocialPlatform.Models;
@using Microsoft.AspNet.Identity
@{
    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
}

<li class="mdl-list__item mdl-list__item--three-line">
    <div class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">person</i>
        <span>@Model.User.FirstName @Model.User.LastName</span>
        <span class="mdl-list__item-text-body">
            @Model.Content
        </span>
    </div>
    <div class="mdl-list__item-secondary-content">
        @if (Model.UserId == User.Identity.GetUserId())
        {
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/Comments/Edit/@Model.CommentId">Edit</a>
        }
    </div>
    <div class="mdl-list__item-secondary-content">
        @if (Model.UserId == User.Identity.GetUserId() || User.IsInRole("Administrator") || User.IsInRole("Editor"))
        {
            <form action="/Comments/Delete/@Model.CommentId" method="post">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">Delete</button>
            </form>
        }
    </div>
    <div class="mdl-list__item-secondary-content">
        @{
            var Likes = db.Likes.Where(l => (l.UserId == userId && l.CommentId == Model.CommentId));
            if (Likes.Count() > 0)
            {
                <a onclick="javascript:sendUnLikeForm(@Likes.First().LikeId)"
                   class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="color: cornflowerblue; background-color: rgba(174, 242, 248, 20); border-radius:5px;">
                    @Model.Likes.Count() <i class="material-icons" style="font-size: 18px">thumb_up</i>
                </a>
            }
            else
            {
                <a onclick="javascript: sendCommentLikeForm(@Model.CommentId)"
                   class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="color: black">
                    @Model.Likes.Count() <i class="material-icons" style="font-size: 18px">thumb_up</i>
                </a>
            }
        }
    </div>


</li>
